<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioControllers</servlet-name>
        <servlet-class>controllers.UsuarioControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoControllers</servlet-name>
        <servlet-class>controllers.AlumnoControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoControllers</servlet-name>
        <servlet-class>controllers.CursoControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleCursoControllers</servlet-name>
        <servlet-class>controllers.DetalleCursoControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControllers</servlet-name>
        <url-pattern>/uc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoControllers</servlet-name>
        <url-pattern>/ac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoControllers</servlet-name>
        <url-pattern>/cc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleCursoControllers</servlet-name>
        <url-pattern>/dcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
